SHELL=/bin/bash
1-56/5 * * * * cd ~/saythesign/ && ~/saythesign/thisweekatskullspace.py ~/saythesign/skullspace.ics | ~/saythesign/xmpp_thesign.py ~/saythesign/welcome.txt 2>/dev/null

*/10 * * * * cd ~/saythesign/ && ~/saythesign/bitcoin_price_bot.py | ~/saythesign/xmpp_thesign.py 2>/dev/null

0 * * * * /usr/bin/wget -q -O ~/saythesign/skullspace.ics http://www.google.com/calendar/ical/andreworr.ca_ca51jqs1vfhu7t3l9qno5qdihk\%40group.calendar.google.com/public/basic.ics
